
body {
	background-color: #207a91;
	font-family: "Raleway", Sans-serif;
	font-size: 62.5%;
	margin: 0;
}
.description{
    font-family: "Raleway", Sans-serif;
    margin-left: 5%;

}


#container {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 20px;

}
.square {
	width: 30%;
	background-color: rgb(231, 223, 223);
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 2cm;

} 

h1 {
	color: white;
	background-color: #c5c5c5;
	font-size: 3.5em;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	
}

#reset{
	border-radius: 2cm;
}

.mode{
	border-radius: 2cm;
}

.mode selector{
	border-radius: 2cm;
}


#color-display {
	font-size: 2em;
	
}

#stripe {
	background: rgb(0, 0, 0);
	height: 35px;
	text-align: center;
	color: black;
	
}

#message {
	text-transform: uppercase;
	color: #36707a;
	font-size: 1.5em;
	display: inline-block;
	width: 15%;
	
}

button {
	outline: none;
	color: #030303;
	font-family: "Raleway", Sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
	background-color: white;
	height: 100%;
}

button:hover {
	background-color: #000000;
	color: white;
}

.selected {
	background-color: #000000;
	color: white;
}

#reset{
	border-radius: 2cm;
}

.mode{
	border-radius: 2cm;
}

.mode selector{
	border-radius: 2cm;
}











